extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Professional Node.js Developers
          p.text-center
            | We can make your business grow
          p.text-center
            a.btn.btn-primary.btn-lg(href="#") Read more
        .col-md-5
          img(src="images/main.png" width="100%")
  .container
  hr
  .row
    .col-lg-4
      img.img-responsive.center-block.img-circle(src='/images/web.jpg', width='250', height='250')
      h2.text-center Web Development
      p
        |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      p.text-center
        a.btn.btn-primary(href='#', role='button') View details »
    .col-lg-4
      img.img-responsive.center-block.img-circle(src='/images/mobile.png', width='250', height='250')
      h2.text-center Mobile Apps Development
      p
        |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      p.text-center
        a.btn.btn-primary(href='#', role='button') View details »
    .col-lg-4
      img.img-responsive.center-block.img-circle(src='/images/consulting.jpg', width='250', height='250')
      h2.text-center Consulting Services
      p
        |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      p.text-center
        a.btn.btn-primary(href='#', role='button') View details »
